.user{
    display: grid;
    grid-template-areas: "ua ud";
    grid-template-columns: 110px 1fr;
    margin: 0px 0px 30px 0px;
}
.avatar{
    grid-area: ua;
}
.avatar__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.avatar__large{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 100%;
    border: 2px solid #162145;
    box-shadow: 0px 0px 30px 5px #162145;
    border-radius: 50%;
    display: none;
    transition: all 0.5s;
}
.avatar{
    position: relative;
}
.avatar:hover .avatar__large{
    display: inline-block;
}
.loadPhoto{
    padding: 10px 0px 0px 0px;
}
.user__data{
    grid-area: ud;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.user__contacts{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
.user__contacts a{
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.user__contacts img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}
.user__name{
    margin: 0px 0px 0px 0px;
}
.description{
    margin: 0px 0px 0px 0px;
}
.user__status{

}
.onlineStatus{
    color: #cccccc;
}
.userIcon{
    vertical-align: -7px;
    color: #3c59ba;
}
.greenIcon{
    color: green;
}
.redIcon{
    color: red;
}
