.userStatus{

}
.statusBox{
    width: 346px;
    padding: 0px 0px 7px;
    border: 1px solid #ffffff;
}
.statusBoxActive{
    width: 346px;
    padding: 7px 0px 7px 10px;
    border: 1px solid #ccc;
}
.status{
    border-bottom: 4px solid #000000;
    line-height: 35px;
}
.statusField{
    width: 270px;
    display: inline;
    border: 1px solid #cccccc;
    border-radius: 0px;
    height: 23px;
    outline: none;
}
.userIcon{
    cursor: pointer;
    vertical-align: -7px;
    opacity: 0.1;
    transition: all 0.2s;
    width: 20px;
}
.saveIcon{
    font-size: 35px;
    width: 30px;
    vertical-align: -13px;
    opacity: 0.4;
    margin: 0px 3px 0px 3px;
}
.closeIcon{
    font-size: 35px;
    width: 30px;
    vertical-align: -13px;
    opacity: 0.4;
}
.userIcon:hover{
    opacity: 0.5;
}
