.user{
    display: grid;
    grid-template-areas: "ua ud uc";
    grid-template-columns: 130px 1fr;
    margin: 0px 0px 30px 0px;
}
.avatar{
    grid-area: ua;
}
.avatar__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.avatar__large{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 100%;
    border: 2px solid #162145;
    box-shadow: 0px 0px 30px 5px #162145;
    border-radius: 50%;
    display: none;
    transition: all 0.5s;
}
.avatar{
    position: relative;
}
.avatarBlock{

}
.avatarBlock:hover .avatar__large{
    display: inline-block;
}
.loadPhoto{
    padding: 10px 0px 0px 0px;
}

.userData{
    grid-area: ud;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.userData strong{
    display: inline-block;
    width: 150px;
    border-bottom: 1px dashed #cccccc;
}
.userContacts{
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}
.userContacts h3{
    margin: 0px 0px 10px 0px;
}
.contactItem{
    margin-bottom: 10px;
}
.contactItem strong{
    display: inline-block;
    width: 100px;
}
.data{

}
