.user{
    display: grid;
    grid-template-areas: "ua ud uc";
    grid-template-columns: 110px 10fr 10fr;
    margin: 0px 0px 30px 0px;
}
.avatar{
    grid-area: ua;
}
.avatar__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.user__data{
    grid-area: ud;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.user__contacts{
    grid-area: uc;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}
.user__contacts a{
    color: #2B2B2B;
}
.user__name{
    margin: 0px 0px 0px 0px;
}
.description{
    margin: 0px 0px 0px 0px;
}
.user__status{

}
.onlineStatus{
    color: #cccccc;
}
.userIcon{
    vertical-align: -7px;
    color: #3c59ba;
}
.greenIcon{
    color: green;
}
.redIcon{
    color: red;
}
