.paginator {
    margin-bottom: 20px;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.paginator span{
    font-size: 19px;
    display: inline-block;
    padding: 10px 0px 8px;
    margin: 0px 3px 3px 0px;
    cursor: pointer;
    transition: all 0.2s;
    background: #DCE0E8;
    border-radius: 4px;
    width: 50px;
    text-align: center;
}
.paginator span:hover{
    background: #3c59ba;
    color: #ffffff;
}
.paginator span.selectedPage{
    background: #3c59ba;
    color: #ffffff;
    cursor: auto;
}
.paginator .iconBtn{
    padding: 15px 0px;
    width: 60px;
    vertical-align: -3px;
    background: #c2c2c2;
}
.paginator .iconBtn:hover{
    background: #9ca197;
}

