.header{
    grid-area: h;
    background-color: #3c59ba;
    border-bottom: 1px solid #162145;
    margin-bottom: 10px;
    color: #ffffff;
    padding: 10px 10px 0px;
}
.container{
    margin: 0px auto;
}
.loginBlock{
    float: right;
}
.loginBlock a{
    color: #ffffff;
}
