.navbar{
    grid-area: n;
    margin-left: 10px;
}
.navbar__item{
    display: block;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 10px 0px;
    text-decoration: none;
    color: #000000;
    transition: all 0.2s;
}
.active{
    background-color: #cccccc;
    cursor: auto;
}
.navbar__item:hover{
    background-color: #cccccc;
}
.navbar__item_active{}

.icon{
    vertical-align: -5px;
    margin-right: 10px;
}
