.userData{
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 30px 0px;
    border-bottom: 1px solid #cccccc;
}
.userName{
    margin: 0px 0px 50px 0px;
    text-align: center;
    font-size: 40px;
}
.userDescription{
    margin: 0px 0px 20px 0px;
}





.info{
    background: #cccccc;
    border-radius: 5px;
    padding: 5px 7px;
    display: inline-block;
}
.greenInfo{
    background: green;
    color: white;
}
.redInfo{
    background: red;
    color: white;
}





.edit{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
    background: #cccccc;
    padding: 5px 5px 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.editIcon{

}
