.userForm{
    display: grid;
    grid-template-areas: "ud uc";
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 50px;
}
.userData{
    grid-area: ud;
}
.userContacts{
    grid-area: uc;
}

.userData, .userContacts{
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    background: #dce0e0;
}
.userData h3, .userContacts h3{
    margin: 0px 0px 20px 0px;
}
.edit{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100;
    background: #cccccc;
    padding: 5px 5px 3px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.editIcon{

}
.form{

}

.userData > div, .userContacts > div{
    margin-bottom: 30px;
}
.contactItem strong{
    display: inline-block;
    width: 100px;
}

.serverError{
    color: red;
}
