.app-wrapper{
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}
.header{
    grid-area: h;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}
.h-block{
    width: 1000px;
    margin: 0px auto;
}
.nav{
    grid-area: n;
    margin-left: 10px;
}
.nav a{
    display: block;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 10px 0px;
    text-decoration: none;
    color: #000000;
}
.nav a:hover{
    background-color: #cccccc;
}
.content{
    grid-area: c;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
}
.user{
    display: grid;
    grid-template-areas: "ua un";
    grid-template-columns: 110px 10fr;
    margin: 0px 0px 30px 0px;
}
.user-avatar{
    grid-area: ua;
}
.user-name{
    grid-area: un;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.user-avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.user-name h3{
    margin: 0px 0px 0px 0px;
}
.status{
    color: #cccccc;
}
.post-item{
    border: 1px dotted #cccccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #cccccc;
    border-radius: 3px;
}
